@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 360px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
}

.body input[type="checkbox"] {
    margin: 3px;
}

.comment-text-input {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    color: $text-primary-transparent;
    font-size: .875rem;
    font-family: inherit;
    resize: vertical;
}

.options-row {
    font-weight: normal;
    font-size: .875rem;
    margin-bottom: 1rem;
}

.error-message {
    color: $error-primary;
    font-size: .875rem;
    margin-bottom: 1rem;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
}

.button-row button.save-button {
    background: $looks-secondary;
    border: $looks-secondary;
    color: white;
}

[dir="ltr"] .button-row button + button {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}
